*{
  margin:0%;
  padding: 0%;
}


/* we're placing canvas (pikachu) at z-indez -1 so we can have the info over him */
canvas {
  background-color: transparent;
  /* background-color: #0C92F5; */
  
  position: fixed;
  z-index: 0;
  /* top: 5%; */
  /* left: 0%; */
  /* transform: scale(.5);   */
  height:70vh !important;
  width: 70vw !important;

  /* position: absolute; */
  top: 5vh;
  left: 30.5vw;

  /* ANIMATIONS WORK ON CANVAS! */
  animation: pokemon_glitch 9s 2.5s infinite,
  z-index_try 4s normal,
             appering_opacity 15s normal;
}

/* pokemon animation */
/* 
#animationGlitch1 {
  animation: pokemon_glitch 9s 2.5s infinite;


} */

@keyframes pokemon_glitch {
  0% { top: 4.95vh; left: 30.2vw;  }
  20% { top: 5.1vh;left: 30.4vw; }
  21% { top: 5vh;left: 30.5vw; }
  25% { top: 5.05vh; left: 30.4vw;  }
  31% { top: 5vh; left: 30.2vw;  }
  64% { top: 4.9vh;left: 30vw; }
  65% { top: 5vh;left: 30.1vw; }
  88% { top: 5.05vh; }
  100% { top: 5vh;left: 30vw; }
}

@keyframes z-index_try {
  from{z-index: -4;}
  top{z-index: -2;}
}
body {
  color: black;
}

.pokedex_box {
  background-color: #199AFA;

  height: 96.5vh;
  width: 98.3vw;
  padding: 1em;

  position: absolute;
  z-index: -1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* POKEDEX SCREEN ELEMENTS */
.pokemon_background {

  background: linear-gradient(hsl(270, 96%, 54%), #199AFA);

  border-radius: 50%;
  
  top: 41vh;
  left: 68.9vw;
  
  position: absolute;
  z-index: -2;

  height: 3em;
  width: 3.6em;

  transform: matrix(4, 1, -4, 1, 10, 80);

  animation: appering_opacity 2.5s normal;
  
}

@keyframes appering_opacity {
  0% {
    opacity: 0;
  }
  7% {
    opacity: 0;
  }
  10% {
    opacity: .0;
  }
  27% {
    opacity: .05;
  }
  30% {
    opacity: .05;
  }
  35% {
    opacity: .7;
  }
  52% {
    opacity: .8;
  }
  55% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  72% {
    opacity: .9;
  }
  75% {
    opacity: .75;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: .9;
  }
}


.pokemon_screen {
  background-color: hsla(270, 96%, 54%, 0.1);


  height: 23em;
  width: 23em;

  position: absolute;
  
  top: 20vh;
  left: 61.5vw;

}

.static {
  /* background-color: hsla(270, 96%, 54%, 0.1); */
  background: linear-gradient( hsla(270, 96%, 54%, 0),hsl(270, 96%, 54%),hsla(270, 96%, 54%, 0));

  z-index: -2;

  top: 27vh;

  height: 15em;

  animation: appering_opacity 2.5s normal;
}
.pokemon_screen_top, .pokemon_screen_bottom  {
  background-color: hsl(270, 96%, 24%);


  height: 10em;
  width: 25em;

  position: absolute;
  z-index: 2;
  
  /* 20.5 initial */
  top: 4.5vh;
  left: 60.7vw;

  border-radius: 30% 50% 5% 5%;

  border: #199AFA;
  border-width: 3em;

}

.pokemon_screen_bottom {
/* 43vh initial */
  top: 58vh;
  border-radius:5% 5% 33% 59%;
  animation: opening_container_bottom 3s normal;


}
.pokemon_screen_top {

  animation: opening_container_top 2.9s normal;
}
/* glitch animation */

.effects_class {
  opacity: 5%;

}

#animationGlitchSquare1 {
  color: #fff;
  animation: glitch1 2.5s infinite,
             screen_opening 4s normal;
}
#animationGlitchSquare2 {
  color: #67f3da;
  animation: glitch2 2.5s 2.5s infinite,
             screen_opening 4s normal;
}
#animationGlitchSquare3 {
  color: #f16f6f57;
  animation: glitch3 2.5s 2.5s infinite,
             screen_opening 4s normal;
}
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

/* animation: openning pokemon screen */

@keyframes screen_opening {
  0% {
    transform: scaleY(0);
  }
  7% {
    transform: scaleY(0.15);
  }
  10% {
    transform: scaleY(0.1);
  }
  27% {
    transform: scaleY(0.15);
  }
  30% {
  }
  35% {
    transform: scaleY(0.7);
  }
  52% {
    transform: none;
  }
  55% {
    transform: scaleY(0.8);
  }
  50% {
    transform: scaleY(0.85);
  }
  72% {
    transform: scaleY(0.9);
  }
  75% {
    transform: scaleY(0.91);
  }
  80% {
    transform: scaleY(.95);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes opening_container_bottom {
  0% {
top: 42vh  }
  7% {
top: 43vh  }
  10% {
top: 44vh  }
  27% {
top: 47vh  }
  30% {
top: 48vh  }
  35% {
top: 43vh  }
  52% {
top: 49vh  }
  55% {
top: 50vh  }
  50% {
top: 51vh  }
  72% {
top: 55vh  }
  75% {
top: 54vh  }
  80% {
top: 56vh  }
  100% {
top: 58vh  }
}

@keyframes opening_container_top {
  0% {
top: 20.5vh  }
  7% {
top: 21vh  }
  10% {
top: 19.2vh  }
  27% {
top: 19vh  }
  30% {
top: 16.6vh  }
  35% {
top: 17vh  }
  52% {
top: 14.7vh  }
  55% {
top: 14.1vh  }
  50% {
top: 13.2vh  }
  72% {
top: 13vh  }
  75% {
top: 11.5vh  }
  80% {
top: 10.7vh  }
  100% {
top: 4.5vh  }
}