*{
  margin:0%;
  padding: 0%;
}

body {
  color: black;
}

.pokedex_box {
  padding: 1em;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon_background {

  background: linear-gradient(#8819FA, #199AFA);

  border-radius: 50%;
  
  top: 41vh;
  left: 68.9vw;
  
  position: absolute;
  z-index: -2;

  height: 3em;
  width: 3.6em;

  transform: matrix(4, 1, -4, 1, 10, 80);
}

.pokemon_screen {
  background-color: rgba(255, 0, 0, 0.308);


  height: 23em;
  width: 23em;

  position: absolute;
  
  top: 20vh;
  left: 61.5vw;


}


/* we're placing canvas (pikachu) at z-indez -1 so we can have the info over him */
canvas {
  position: fixed;
  z-index: -1;
  
  /* top: 5%; */
  /* left: 0%; */
/* transform: scale(.5);   */

  height:70vh !important;
  width: 70vw !important;

  /* position: absolute; */
  
  top: 5vh;
  left: 30.5vw;

  /* ANIMATIONS WORK ON CANVAS! */
  /* animation: prueba 9s infinite; */
  

  /* background-color: #0C92F5; */
background-color: transparent;


}


/* glitch animation */

.effects_class {
  opacity: 5%;

}

#animation_try {
  animation: prueba 5s infinite;
}

@keyframes prueba {
  from{transform: rotateZ(0deg)}
  to{transform: rotateZ(360deg);}
}